.container {
    max-width: 1170px;
    width: 100%;
    margin: 0 auto;
}

.mybox1 {
    height: 200px;
    width: 200px;
    background-color: yellow;
    margin: 20px;
    padding: 10px;
    border: 5px solid black;
    display: inline-block;
}

.mybox2 {
    height: 200px;
    width: 200px;
    background-color: blue;
    margin: 20px;
    padding: 10px;
    border: 5px solid black;
    display: inline-block;
}
